fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email-validator
deepface>=0.0.86
opencv-python-headless
psutil
scikit-learn
datasets
google-generativeai
groq